.search--card-container {
  width: 80%;
  height: 60vh;
}

.search--card-image {
  height: 20%;
  background-image: url('../../assets/images/sebastien-gabriel-gyUVNafCIG8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search--card-credits {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  opacity: .5;
}

.search--card-content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: .7rem;
}

.search--card-actions {
  height: 20%;
  justify-content: center;
}

@media (min-width: 768px) {

  .search--card-container {
    width: 35%;
    height: 80vh;
    position: absolute;
    right: 15%;
  }

  .search--card-image {
    height: 25%;
  }

  .search--card-credits {
    left: 58%;
  }

  .search--card-content {
    height: 55%;
  }
}

@media (max-width: 768px) {

  .search--card-container {
    height: 70%;
  }
}
