.app--container {
  flex-direction: column;
  min-height: 100vh;
}

.app--home-container {
  background-image: url('assets/images/pedro-lastra-v6Sy3kyBROE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.app--image-credits {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  opacity: .5;
}

.app--progress-container {
  height: 100vh;
  width: 100%;
}

.app--progress {
  position: relative;
  top: calc(50vh - 20px);
  left: calc(50% - 20px);
}
