.app--container {
  flex-direction: column;
  min-height: 100vh;
}

.app--home-container {
  background-image: url('assets/images/pedro-lastra-v6Sy3kyBROE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.app--home-content {
  height: calc(100vh - 4.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app--city-logo {
  height: auto;
  fill: white;
  opacity: .5;
}

.app--image-credits {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  opacity: .5;
}

.app--progress-container {
  height: 100vh;
  width: 100%;
}

.app--progress {
  position: relative;
  top: calc(50vh - 20px);
  left: calc(50% - 20px);
}

.app--fab {
  position: relative;
  bottom: 5rem;
  left: 88%;
}

@media (min-width: 768px) {

  .app--city-logo {
    width: 11%;
    position: absolute;
    top: 12vh;
    left: 32%;
  }
}

@media (max-width: 768px) {

  .app--home-content {
    flex-direction: column;
  }

  .app--city-logo {
    height: 20vh;
    margin: 1rem 0;
  }
}
